.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.radio-inline{
  float: left;
  margin-left: 60px;
  display: block;
}

.radio-inline1{
  float: left;
  margin-left: 100px; 
}


.modal-body{
  display: flex;
  flex-direction: column;
}

.label-text{
  margin-left: 10px;
}

.navbar-text-time {
  margin-right: 40px;
}


.Users{
  position: absolute;
  margin-top: 60px;
  margin-left: 550px;
}
